name: ci

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Get websockify version
        run: |
          VERSION=$( grep -oP "websockify==\K.*" requirements.txt )
          echo "version=$VERSION" >> $GITHUB_OUTPUT
        id: websockify_version

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            jwnmulder/websockify
            ghcr.io/jwnmulder/websockify
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}},value=${{ steps.websockify_version.outputs.version }}
            type=semver,pattern={{major}}.{{minor}},value=${{ steps.websockify_version.outputs.version }}
            type=semver,pattern={{major}},value=${{ steps.websockify_version.outputs.version }},enable=${{ !startsWith(steps.websockify_version.outputs.version, '0.') }}
          labels: |
            org.opencontainers.image.source=https://github.com/novnc/websockify
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
